<div class="container d-flex">
  <div class="row gap-4">
    @for (location of locations; track locations.id){

    <div class="card" style="width: 19rem">
      <div class="card-body">
        <h5 class="card-title">{{ location.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Dimension: {{ location.dimension }}
        </h6>
        <p class="card-text">Type: {{ location.type }}</p>
        <a href="#" class="card-link">Residents</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    }
  </div>
</div>
